/*
========================================================================================
    SNVPhyl Custom Config File
========================================================================================

/*
========================================================================================
    Nextflow Metrics & Reports
========================================================================================
*/

report {
  enabled = true
  file    = "${params.outdir}/report.html"
}

/*
========================================================================================
    Default config options for scicomp compute environments
========================================================================================
*/

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/scicomp/groups/OID/NCEZID/DHQP/CEMB/Jill_DIR/Singularity_Containers'

executor {
  errorStrategy = 'retry'
  maxRetries = 1
  queueSize = 100
  pollInterval = '15 sec'
}
process {
  executor = 'sge'
  penv = 'smp'
  queue = 'all.q'
 withName: INDEXING {
  container = "jvhagey/dockertest:smalt-0.7.6_samtools-1.15"
  cpus = 1
  memory = '2 GB'
 }
 withName: VERIFYING_MAP_Q {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2"
  cpus = 2
  memory = "5 GB"
 }
 withName: SMALT_MAP {
  container = "jvhagey/dockertest:smalt-0.7.6_samtools-1.15"
  memory = "1 GB"
  cpus = 4
 }
 withName: SORT_INDEX_BAMS {
  container = "staphb/samtools:1.9"
  memory = "2 GB"
  cpus = 1
 }
 withName: FREEBAYES {
  container = "jvhagey/dockertest:freebayes-1.3.6" //updated
  memory = "1 GB"
  cpus = 1
 }
 withName: MPILEUP {
  container = "staphb/bcftools:1.14"
  memory = "1 GB"
  cpus = 1
 }
  // BCFTOOLS_CALL and FREEBAYES_VCF_TO_BCF
 withLabel: process_bcf {
  container = "jvhagey/dockertest:bcftools-1.15"
  memory = "1 GB"
  cpus = 2
 }
 withName: CONSOLIDATE_BCFS {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2"
  cpus = 1
  memory = "30 GB"
 }
 withName: VCF2SNV_ALIGNMENT {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2"
  cpus = 4
  memory = "5 GB"
 }
 withName: PHYML {
  container = "jvhagey/dockertest:phyml-3.2.0"
  memory = "2 GB"
  cpus = 1
 }
  //GENERATE_LINE_1, CONSOLIDATE_FILTERED_DENSITY and GENERATE_LINE_2
 withLabel: process_gen_line {
  memory = "1 GB" 
  cpus = 1
 }
  //FIND_REPEATS, FILTER_FREEBAYES, FILTER_STATS and MAKE_SNV
 withLabel: process_snvphyl_low {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2"
  memory = "1 GB"
  cpus = 1
 }
}
