/*
========================================================================================
    SNVPhyl Custom Config File
========================================================================================

/*
========================================================================================
    Nextflow Metrics & Reports
========================================================================================
*/

report {
  enabled = true
  file    = "${params.outdir}/report.html"
}

/*
========================================================================================
    Default config options for scicomp compute environments
========================================================================================
*/

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/$PATH/Singularity_Containers' //Change this to the path where you want to save your singularity images

executor {
  errorStrategy = 'retry'
  maxRetries = 1
  queueSize = 100
  pollInterval = '15 sec'
}
process {
  executor = 'sge' // Change this to your executor (i.e. slurm - https://www.nextflow.io/docs/latest/executor.html ) or comment out to run locally
  queue = 'myfavcluster.q' //Change to the cluster your want job submitted to 
 withName: INDEXING {
  container = "staphb/smalt:0.7.6"
  cpus = 1
  memory = '2 GB'
 }
 withName: VERIFYING_MAP_Q {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2_source"
  cpus = 2
  memory = "5 GB"
 }
 withName: SMALT_MAP {
  container = "staphb/smalt:0.7.6"
  memory = "1 GB"
  cpus = 4
 }
 withName: SORT_INDEX_BAMS {
  container = "staphb/samtools:1.9"
  memory = "2 GB"
  cpus = 1
 }
 withName: FREEBAYES {
  container = "staphb/freebayes:1.3.6"
  memory = "1 GB"
  cpus = 1
 }
 withName: MPILEUP {
  container = "staphb/bcftools:1.14"
  memory = "1 GB"
  cpus = 1
 }
  // BGZIP_MPILEUP_VCF and BGZIP_FREEBAYES_VCF
 withLabel: process_bgzip {
  container = "staphb/htslib:1.15"
  memory = "1 GB"
  cpus = 1
 }
  // BCFTOOLS_CALL and FREEBAYES_VCF_TO_BCF
 withLabel: process_bcf {
  container = "staphb/bcftools:1.15"
  memory = "1 GB"
  cpus = 2
 }
 withName: CONSOLIDATE_BCFS {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2_source"
  cpus = 1
  memory = "30 GB"
 }
 withName: VCF2SNV_ALIGNMENT {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2_source"
  cpus = 4
  memory = "5 GB"
 }
 withName: PHYML {
  container = "staphb/phyml:3.3.20220408"
  memory = "2 GB"
  cpus = 1
 }
  //GENERATE_LINE_1, CONSOLIDATE_FILTERED_DENSITY and GENERATE_LINE_2
 withLabel: process_gen_line {
  memory = "1 GB" 
  cpus = 1
 }
  //FIND_REPEATS, FILTER_FREEBAYES, FILTER_STATS and MAKE_SNV
 withLabel: process_snvphyl_low {
  container = "jvhagey/dockertest:snvphyl-tools-1.8.2_source"
  memory = "1 GB"
  cpus = 1
 }
}
