/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

///////////////////////////////////////
//
// workflow: snvphyl
//
///////////////////////////////////////

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VERIFYING_MAP_Q {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: 'copy',
            pattern: "mappingQuality.txt"
        ]
    }

    withName: CONSOLIDATE_BCFS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: 'copy',
            pattern: "Log_File.txt"
        ]
    }

    withName: VCF2SNV_ALIGNMENT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: 'copy',
            pattern: "{snvAlignment.phy, vcf2core.tsv, snvTable.tsv}"
        ]
    }

    withName: FILTER_STATS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: 'copy',
            pattern: "filterStats.txt"
        ]
    }

    withName: PHYML {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: 'copy',
            pattern: "{phylogeneticTree.newick, phylogeneticTreeStats.txt}"
        ]
    }

    withName: MAKE_SNV {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: 'copy',
            pattern: "snvMatrix.tsv"
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
